*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body{
    background: linear-gradient(180deg, rgba(227, 255, 248, 0.00) 82.08%, rgba(227, 255, 248, 0.38) 100%);
    text-align: center;
    font-family: "Open Sans", sans-serif;
        font-size: 1.4rem;   
        line-height: 2.8rem;
        color: #7D7987;
}

header {
    margin: 5.9rem auto 11.0rem;
    width: 100rem;
    display: flex;
        flex-direction: row;
        justify-content: space-between;
}

ul {
    list-style: none;
    display: flex;
        gap: 4.8rem;

    font-family: "Mulish";
        font-size: 1.8rem;
        color: #7D7987;  
}


main {
    width: 100rem;
    margin:  0 auto 8.2rem;
    display: flex;
       align-items: center;
       gap: 10rem;
    }

.text{
    display: flex;
        flex-direction: column;
        gap: 4.0rem;
}

h1 {
    width: 48.9rem;
    font-family: "Mulish", sans-serif;
        font-size: 4.9rem;
        line-height: 5.6rem;
        text-align: start;
        color: black;
}

main p{
    font-family: "Open Sans";
    width: 40rem;
    text-align: start;
}

button {
    width: 17.9rem;
    padding: 1.4rem 3.2rem 1.5rem 3.2rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;

    background-color: #69B99D;
    color: #FFFF;
    font-size: 1.6rem;
}

footer {
    margin-bottom: 3rem;
    display: flex;
        flex-direction: row;
        justify-content: center;

    color: black;
}

footer p{
    width: 59.2rem;
}

footer img {
    position: fixed;
    right: 0;
    bottom: 0;
}

/* Animations */

li:hover{
    transform: scale(1.1);
        transition: 0.5s;
    color: black;
    font-weight: bold;
}

button:hover {
    transform: scale(1.1);
        transition: 0.5s;

    background-color: #65af95;
}